.App{
  font-family: "Poppins", sans-serif;

  font-style: normal;
background-color: #e3e3e3;
padding: 100px;
}
.App header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("heart-book.jpg");
  padding:80px 50px;
  background-repeat: none;
  margin-top: -100px;
  background-size: cover;
  background-position: center;
}

.App h1{
  color:white;
  font-size: 70px;
line-height: 1.2;
 
}
.App img{
  margin-top: -50px;
}

footer{
  color:#f95959;
}
footer a{
  color:#f95959;
}
@media (max-width: 960px) {
  header {
 
    width: 100%;
  }
  .App{
    padding:0px;
  }
  .App h1{
    font-size: 40px;
  text-align: center;
  }
}