.App{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #222831;
padding: 100px;
}
.App header{
  margin-top: -10px;
margin-bottom: 200px;
  background: #222831;
}
.App h1{
  color: white;
  font-size: 70px;

}
footer{
  color: white;
}