.Dictionary{
  font-family: "Poppins", sans-serif;

  color:#233142;
}
.Dictionary section{
  margin: 20px 60px;
  padding: 20px 10px;
  border-left: 4px solid #f95959;
  background-color: white;
border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.Dictionary form{
  margin: 20px 200px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 15px;
 
}

.Dictionary .search-engine{
  background-color: #f9f7fe;
margin: 10px;
  border-radius: 6px;
  width: 40%;
  font-size: 16px;
  padding: 15px 15px;

}

.Dictionary .submit {
  background-color:  #f95959;
  border: none;
  color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 16px 32px;
  margin-left: 10px;
  text-align: center;
 border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
@media(max-width:960px){
  .Dictionary .submit{
    text-align: center;
  }
}