.Dictionary{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
.Dictionary section{
  margin: 20px 60px;
  background-color: white;
padding: 30px;

  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.Dictionary .search{
 
  background-color: white;

  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  margin-top: -100px;
}
form{
  text-align: center;
  
}
.Dictionary .search-engine{
  background-color: #f9f7fe;
margin: 10px;
  border-radius: 6px;
  width: 20%;
  font-size: 16px;
  padding: 15px 15px;

}

.Dictionary .submit {
  background-color: #a77c7c;
  border: none;
  color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 16px 32px;
  margin-left: 10px;
  text-align: center;
 border-radius: 4px;

  font-weight: 500;
  font-size: 16px;

  cursor: pointer;
}