.Results h3{
font-size: 40px;

color: #233142;
padding-left: 90px;
text-transform: uppercase;
}
.Results .pronunciation{
  color: #233142;
}
.Results a{
  text-decoration: none;

}
i{
  font-size: 30px;
  color:#f95959;
}
i:hover {
  opacity: 0.8;
  transform: scale(1.4);
  cursor: pointer;
}
h4{
  color: #233142;
}
.Def{
  font-size: 15px;
  opacity: 0.9;
}
.examples{
  opacity: 0.8;
}
.Synonyms{
  color:#f95959;
  display: flex;

}

.Synonyms li {
  font-size: 15px;
list-style: none;
padding-left: 25px;
  line-height: 1.5;
}
@media(max-width:960px){
  .Results h3{
    font-size: 27px;
}
.Phonetic{
  text-align: center;
}
.Definition{
  font-weight: 300px;
}
}