.Results h3{
font-size: 40px;
color: #233142;
padding-left: 90px;
text-transform: uppercase;
}
.Results .pronunciation{
  color: #233142;
}
.Results a{
  text-decoration: none;

}
i{
  font-size: 30px;
  color:#f95959;
}
i:hover {
  opacity: 0.8;
  transform: scale(1.2);
  cursor: pointer;
}
h4{
  color: #233142;
}
.Definition{
  font-size: 15px;
font-weight: 700;
}
.examples{
  opacity: 0.8;
}